<span class="title">TSK</span>

<div class="list">
  <div class="item" [routerLink]="['home']" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </div>

  @for (tag of tags$ | async; track tag) {
  <div class="item" [routerLink]="['tag', tag.id]" routerLinkActive="active">
    <mat-icon [ngStyle]="{ color: tag.color }">circle</mat-icon>
    <span>{{ tag.name }}</span>
  </div>
  }

  <div class="item">
    <mat-icon>add</mat-icon>
    <span>Add tag</span>
  </div>
</div>
