:host {
  display: flex;
  align-items: center;
  position: relative;

  gap: var(--size-sm);
  padding: var(--size-sm);

  border-radius: var(--size-sm);
  border: 1px solid var(--border-color);

  --label-color: var(--color-text-100);
  --border-color: var(--color-border);

  &.ng-touched.ng-invalid {
    --label-color: var(--color-warn);
    --border-color: var(--color-warn);
  }
}

.input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  flex: 1 1 auto;
  background-color: transparent;
}

.label {
  top: calc(var(--size-lg) * -1);
  left: 4px;
  position: absolute;
  font-size: var(--text-sm);
  color: var(--label-color);
}
