:host {
  display: block;
}

.header {
  display: flex;
  align-items: center;
  margin: var(--padding-md) 0 var(--padding-xl);

  &__title {
    font-weight: 500;
    font-size: var(--text-lg);
    color: var(--color-text-dk);
  }

  &__spacer {
    flex: 1 1 auto;
  }
}
