.card {
  padding: var(--size-md);

  border: 1px solid var(--color-border);
  border-radius: var(--size-sm);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--size-md);

  .tsk-input {
    background-color: white;
  }

  .tsk-input-textarea,
  .tsk-input-text:first-child {
    grid-column: span 2;
  }
}
