.check {
  width: var(--text-md);
  height: var(--text-md);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0.3em;
  border: 1px solid var(--color-text-100);

  transition: border 0.2s ease-in-out;

  .tsk-icon {
    font-size: var(--text-sm);
    color: transparent;
    transition: color 0.2s ease-in-out;
  }

  &.active {
    .tsk-icon {
      color: var(--color-text-100);
    }
  }

  &:not(&.disabled) {
    &:not(&.active) {
      &:hover {
        border: 1px solid var(--color-text-200);
        .tsk-icon {
          color: var(--color-text-200);
        }
      }
    }
  }

  &:not(.disabled) {
    cursor: pointer;
  }
}
