:host {
  height: 100%;
  display: block;
  box-sizing: border-box;
  padding: var(--padding-md);
}

form {
  height: 100%;

  display: grid;
  column-gap: var(--padding-md);

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr auto;

  * {
    grid-column: span 2;
  }

  .description {
    flex: 1 1 auto;
  }

  .deadline,
  .tag {
    grid-column: span 1;
  }

  .actions {
    margin-left: auto;

    .mdc-button {
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
