<form [formGroup]="form" (ngSubmit)="submitEvent.emit(form.value)">
  <mat-form-field appearance="outline" color="accent">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent" class="deadline">
    <mat-label>Deadline</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="deadline" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent" class="tag">
    <mat-label>Tag</mat-label>
    <mat-select formControlName="tagId">
      <mat-option [value]="null"></mat-option>
      @for (tag of tags; track tag.id) {
      <mat-option [value]="tag.id">
        <mat-icon [ngStyle]="{ color: tag.color }">circle</mat-icon>
        <span>{{ tag?.name }}</span>
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" color="accent" class="description">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" ></textarea>
  </mat-form-field>

  <div class="actions">
    <button
      mat-stroked-button
      type="button"
      color="accent"
      (click)="cancelEvent.emit()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      type="submit"
      color="accent"
      [disabled]="form.invalid"
    >
      Save
    </button>
  </div>
</form>
