<main class="flex h-screen w-screen gap-4 bg-neutral-950 p-2">
	<div class="w-1/5 bg-neutral-900 rounded overflow-hidden border border-neutral-800">
		<app-sidenav />
	</div>
	<div class="w-4/5">
		<router-outlet></router-outlet>
	</div>
</main>

<dialog
	#dialogRef
	class="rounded border border-neutral-800 bg-neutral-900 p-4 text-neutral-50"
	[ngStyle]="{
		width: dialogService.config().width ?? 'max-content',
		height: dialogService.config().height ?? 'max-content'
	}"
>
	<ng-container
		*ngComponentOutlet="
			dialogService.component();
			inputs: { data: dialogService.config().data }
		"
	></ng-container>
</dialog>
