@use "@angular/material" as mat;

@include mat.core();

$tsk-web-primary: mat.define-palette(mat.$indigo-palette);
$tsk-web-accent: mat.define-palette(mat.$gray-palette, A200, A100, A400);

$tsk-web-warn: mat.define-palette(mat.$red-palette);

$tsk-web-theme: mat.define-dark-theme((
    color: (
      primary: $tsk-web-primary,
      accent: $tsk-web-accent,
      warn: $tsk-web-warn,
    )
));

@include mat.all-component-themes($tsk-web-theme);
