html {
  --size-sm: 0.5em;
  --size-md: 1em;
  --size-lg: 1.5em;

  --text-xs: 0.5em;
  --text-sm: 0.75em;
  --text-md: 1em;
  --text-lg: 1.25em;
  --text-xl: 1.5em;

  --color-text-100: #bdbdbd;
  --color-text-200: #757575;
  --color-text-300: #212121;

  --color-base: #fafafa;
  --color-border: #e0e0e0;
  --color-warn: #C62828;
}
