html {
  --padding-xs: 0.5rem;
  --padding-sm: 0.75rem;
  --padding-md: 1.25rem;
  --padding-lg: 1.75rem;
  --padding-xl: 2rem;

  --text-xs: 0.5rem;
  --text-sm: 0.75rem;
  --text-md: 1rem;
  --text-lg: 1.75rem;
  --text-xl: 2rem;

  --color-base-dk: #171717;
  --color-base-lt: #262626;
  
  --color-text-dk: #525252;
  --color-text-md: #A3A3A3;
  --color-text-lt: #FAFAFA;
}