:host {
  display: block;
}

.mat-mdc-chip-option {
  height: 24px;
  font-size: 12px;
}

::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
  height: 12px;
  width: 12px;

  .mdc-evolution-chip__checkmark {
    height: 12px !important;
    width: 12px !important;
  }
}
