.list-item {
  &:not(&:last-child) {
    border-bottom: 1px solid var(--color-border);
  }
}

.task {
  &-title {
    cursor: pointer;
    font-weight: 600;
  }

  &-description,
  &-deadline {
    font-size: var(--text-sm);
    color: var(--color-text-200);
  }

  &-delete {
    cursor: pointer;
    font-size: var(--text-sm);

    color: transparent;
    transition: color 0.2s ease-in-out;
  }

  &:hover {
    .task-delete {
      color: var(--color-text-100);
      &:hover {
        color: var(--color-text-200);
      }
    }
  }

  &.done {
    .task-title {
      color: var(--color-text-400);
    }
    .task-title,
    .task-description {
      text-decoration: line-through;
    }
  }
}

.add {
  cursor: pointer;
  color: var(--color-text-200);
  transition: color 0.2s ease-in-out;

  &-icon {
    font-size: var(--text-sm);
  }

  &:hover {
    color: var(--color-text-300);
  }
}
