.list-item {
	&:not(&:last-child) {
		height: 23px;
		border-bottom: 1px solid var(--color-base-lt);
	}
}

.task {
	&-title {
		cursor: pointer;
	}
	&-description {
		color: var(--color-text-dk);
	}

	&-tag {
		display: flex;
		align-items: center;

		height: 24px;
		border-radius: 12px;

		font-size: 12px;
		font-weight: 500;

		color: var(--color-base-dk);

		font-size: var(--text-sm);
		padding: 0 calc(var(--padding-sm) / 2);
	}

	&-deadline {
		font-size: 12px;
		color: var(--color-text-dk);
	}

	&-delete {
		font-size: 18px;
		width: 18px;
		height: 18px;
		color: transparent;
		transition: color 0.2s ease-in-out;
	}

	&:hover {
		.task-delete {
			cursor: pointer;
			color: var(--color-text-dk);
			&:hover {
				color: var(--color-text-lt);
			}
		}
	}

	&.done {
		.task-title {
			color: var(--color-text-dk);
		}
		.task-title,
		.task-description {
			text-decoration: line-through;
		}
	}
}

.add {
	cursor: pointer;
	color: var(--color-text-dk);
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--color-text-lt);
	}
}
